@let gameValue = game();
@let roundsValue = rounds();
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onNavigateBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Retour
      </ion-button>
    </ion-buttons>
    <ion-title>Liste des parties</ion-title>
  </ion-toolbar>
</ion-header>
@if (roundsValue) {
  <ion-grid>
    <ion-row>
      @for (player of gameValue.players; track player.id) {
        <ion-col>{{ player.name }}</ion-col>
      }
      <ion-col></ion-col>
    </ion-row>
    @for (round of roundsValue; track round.id) {
      <ion-row>
        @for (player of gameValue.players; track player.id) {
          @if (player.id) {
            <ion-col class="score"
                     [ngClass]="{'positive': round.scores[player.id] > 0, 'negative': round.scores[player.id] < 0, 'taker': round.scores[player.id] | isMaxScore:round.scores}">{{ round.scores[player.id] }}
            </ion-col>
          }
        }
        <ion-col>
          <ion-button (click)="onEditClickHandler(round.id)" size="small">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="onDeleteClickHandler(round.id)" size="small">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    }
    <ion-item-divider>
      <ion-label>Totaux</ion-label>
    </ion-item-divider>
    @let scoresValue = scores();
    <ion-row>
      @for (player of gameValue.players; track player.id) {
        @if (player.id) {
          @let score = (scoresValue | sumScoreForPlayer:player);
          <ion-col class="score"
                   [ngClass]="{'positive': score > 0, 'negative': score < 0}">{{ score }}
          </ion-col>
        }
      }
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
}

<ion-fab slot="fixed" horizontal="center" vertical="end">
  <ion-fab-button (click)="onNewRoundClickHandler()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
