ion-row {
  flex-direction: row;
  flex-wrap: nowrap;
}

ion-col {
  padding: 0px;
  text-align: center;
  font-size: 12px;
  flex: 1 1 0px;
  width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-self: center;
}

ion-col.score {
  font-size: 16px;
}

ion-col.positive {
  color: green;
}

ion-col.negative {
  color: red;
}

ion-col.taker {
  font-weight: bold;
}
