@let gameValue = game();
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onNavigateBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
        Retour
      </ion-button>
    </ion-buttons>
    <ion-title>Liste des parties</ion-title>
  </ion-toolbar>
</ion-header>
@if (gameValue.rounds) {
  <ion-grid>
    <ion-row>
      @for (player of gameValue.players; track player.id) {
        <ion-col>{{ player.name }}</ion-col>
      }
    </ion-row>
    @for (round of gameValue.rounds; track round.id) {
      <ion-row>
        @for (player of gameValue.players; track player.id) {
          @if (player.id) {
            <ion-col>{{ round.scores[player.id] }}</ion-col>
          }
        }
      </ion-row>
    }
  </ion-grid>
}

<ion-fab slot="fixed" horizontal="center" vertical="end">
  <ion-fab-button (click)="onNewRoundClickHandler()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
